<form action="/place_ships">
  Please select the position of your size <%= @size + 1 %> ship:
  <input type="text" name="coords" required>
  <input type="submit" value="place ship">
</form>

<%= @display %>
